/* Footer styles */
.footer-container {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    padding: 1rem;
    background-color: #000;
    color: #fff;
  }
  
  .footer-logo {
    height: 40px;
    margin: 0.5rem; /* Add some margin around each logo */
  }
  
  @media (max-width: 768px) {
    .footer-container {
      justify-content: space-around; /* Change to space-around for smaller screens */
    }
  }
  